// Colour pallet
$blue: #200d97;
$darkpink: #440150;
$red: #d92a2a;
$text: #000000;
$fontsizeH2: 4rem;
$fontsizeP: 1.4rem;

* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	img {
		width: 80%;
	}
}

#landscape {
	display: none;
}
