nav {
	height: 12vh;

	ul {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		align-items: center;
		width: 100%;
		height: 100%;

		li:first-of-type {
			text-align: left;
			margin-left: 2rem;
		}

		li img {
			height: 2.8rem;
		}

		li:last-of-type {
			text-align: right;
			margin-right: 2rem;
		}
	}
}
