section {
	height: 85vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	strong {
		background: -webkit-linear-gradient(
			180deg,
			rgba(163, 13, 188, 1),
			rgba(151, 13, 121, 0.69)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	h2 {
		font-size: $fontsizeH2;
		text-decoration: underline;

		background: -webkit-linear-gradient(
			180deg,
			rgba(163, 13, 188, 1),
			rgba(32, 13, 151, 0.69)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	p {
		font-size: $fontsizeP;
	}

	h2,
	p {
		padding-bottom: 2rem;
	}

	.right,
	.left {
		height: 100vh;
	}

	.left {
		padding-left: 3rem;
	}

	.textUnderline {
		text-decoration: underline;
	}

	.text {
		display: flex;
		justify-content: center;
		align-items: left;
		flex-direction: column;
		position: relative;
	}

	.waveFormRight {
		right: 0;
	}

	.waveFormLeft {
		left: 0;
	}

	.waveFormRight,
	.waveFormLeft {
		position: absolute;
		bottom: 0;
		opacity: 0.8;
		width: 100%;
	}
}
