* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header #waveformHome {
  position: absolute;
  bottom: 0;
  height: 45%;
}

header #floatingText {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
}

header .bodyHeader {
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  position: relative;
}

header .bodyHeader h1 {
  margin: 0;
  font-size: 5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(180deg, #a30dbc, rgba(32, 13, 151, 0.69));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .bodyHeader h1,
header .bodyHeader p {
  text-align: center;
}

header .bodyHeader #bigTextHome {
  font-size: 2rem;
  margin-top: 0.5rem;
  letter-spacing: 0.55rem;
}

header .bodyHeader #smallTextHome {
  letter-spacing: 0.1rem;
}

section {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section h2 {
  font-size: 5rem;
  text-decoration: underline;
}

section p {
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

section .left {
  background-color: rgba(255, 145, 0, 0.459);
  height: 100vh;
}

section .right {
  background-color: rgba(128, 128, 128, 0.541);
  height: 100vh;
}

section .left,
section .right {
  padding-left: 3rem;
}

section .textUnderline {
  text-decoration: underline;
}

section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section h2 {
  padding-bottom: 2rem;
}

nav {
  height: 12vh;
  background-color: pink;
}

nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

nav ul li:first-of-type {
  text-align: left;
  margin-left: 2rem;
}

nav ul li img {
  height: 2.8rem;
}

nav ul li:last-of-type {
  text-align: right;
  margin-right: 2rem;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image img {
  width: 90%;
}

footer {
  height: 12vh;
  background-color: black;
  text-align: center;
}

@media screen and (max-width: 700px) {
  nav {
    height: 12vh;
  }
  nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    margin: 0;
  }
  nav ul li:first-of-type,
  nav ul li:last-of-type {
    margin: auto;
  }
  header #waveformHome {
    max-width: 100%;
  }
  header #floatingText {
    display: none;
  }
  header .bodyHeader h1 {
    font-size: 4rem;
  }
  header .bodyHeader #smallTextHome {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  header .bodyHeader #bigTextHome {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
}

@media screen and (max-width: 1200px) {
  nav ul li img {
    height: 3.5rem;
  }
  header #waveformHome {
    max-width: 100%;
    height: 55%;
  }
  header #floatingText {
    display: none;
  }
  header .bodyHeader h1 {
    font-size: 4rem;
  }
  header .bodyHeader #smallTextHome {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  header .bodyHeader #bigTextHome {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */