// Colour pallet

$blue: #200d97;
$darkpink: #a30dbc;
$red: #d92a2a;
$text: #000000;

// General styling

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#navigator {
  height: 12vh;
  background-color: pink;
}

.home {
  background-color: red;
  height: 88vh;
}

.about {
  background-color: blue;
}

.skills {
  background-color: purple;
}

.languages {
  background-color: yellow;
}

.drive {
  background-color: green;
}

.left {
  background-color: rgba(255, 145, 0, 0.459);
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.right {
  background-color: rgba(128, 128, 128, 0.541);
  height: 100vh;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

#footer {
  height: 12vh;
  background-color: black;
}
